h1 {
  font-style: italic;
  font-weight: 600px;
  text-decoration: underline;

}

h2 {
  font-size: 13px;
  font-weight: lighter;

}

body {
  background-color: cornsilk;
}

#desktop {
  background-color: white;
  border-radius: 50px;
  padding: 7%;
  margin: 100px;
  box-shadow: 4px 4px 5px black;
}

.selected {
  background-color: rgb(128, 128, 128);
}

.completed {
  text-decoration: line-through;

}
