*{ 
    margin:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: rgb(253, 251, 251);
}
header{
    top:0;
    position:fixed;
}
main{
    margin-top: 100px;
}
#cabecalho{
    background-color:lightskyblue;
    color:#2f4f4f;
    font-weight: 600;
    width: 100%;
}
#titulo{
    display: block;
    text-align: center;
    line-height: 50px;
}
#cabeçalho nav{
    font-weight: 600px;
    color:lightslategrey;            
}
nav li{
    display: inline-block;
    width: 50px;
    padding-bottom: 20px;
    font-weight: 500px;
}
#minha_foto{
    display: block;
    margin-bottom: 10px;
    border-radius: 5px;
    
}
section{
    padding: 20px;
}
.list{
    display: inline-block;
    padding: 20px;
    font-size: 15px;
}
.text-box{
    display: inline-block;
    width: 25%;
    border-style: dotted;
    width: 550px;
}

.text-box2{
    margin-left: 50px;  
    float: right;    
}
#rodape{
    margin:10px;
    background-color:lightskyblue;
    line-height: 30px;
    
}
table{
    margin:auto;
}